.page {
  display: grid;
  height: 100vh;
  justify-items: center;
  align-items: center;
}

.text {
  width: 50vw;
}

@media (max-width: 784px) {
  .text {
    width: 60vw;
  }
}

@media (max-width: 550px) {
  .text {
    width: 80vw;
  }
}
