.link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: clamp(80px, 20vw, 140px);
  height: clamp(80px, 20vw, 140px);
  object-fit: cover;

  z-index: 2;
}

.enso {
  position: absolute;
  color: transparent;
  cursor: pointer;
  width: clamp(80px, 20vw, 140px);
  height: clamp(80px, 20vw, 140px);
}
