.hyperlink {
  color: #d2d49b;
  display: contents;
  font-style: italic;
  text-shadow: 1px 1px 20px #000000;
}

.hyperlink:hover {
  color: #babe46;
  text-decoration: underline;
  cursor: pointer;
}

.hyperlink:active {
  color: #beac46;
}
