.hyperlink {
  color: #d2d49b;
  display: contents;
  font-style: italic;
  text-shadow: 1px 1px 20px #000000;
}

.hyperlink:hover {
  color: #babe46;
  text-decoration: underline;
  cursor: pointer;
}

.hyperlink:active {
  color: #beac46;
}

.spinner {
  display: inline-block;
  border: 3px solid #ffffff;
  border-top: 3px solid #beac46;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
