.container {
  width: 30%;
  min-width: fit-content;
  text-align: center;
}

.link {
  color: #d2d49b;
  display: inline;
  font-style: italic;
  text-shadow: 1px 1px 20px #000000;
  margin: 10px;
}
