:root {
  --background: #ffffff;
  --foreground: #171717;
}

.ava {
  color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10vw;
  object-fit: cover;
  height: 10vw;
  cursor: pointer;
  border-radius: 50%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
