.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #6e7867;

  transition: transform 0.3s ease-in-out;

  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.overlayHidden {
  transform: translateX(-100%);
  visibility: hidden;
}

.overlayVisible {
  transform: translateX(0);
  visibility: visible;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #d2d49b;
}

.qr {
  width: min(36vw, 180px);
  height: auto;
  max-width: 180px;
  margin-top: 30px;
}

.qrLink {
  margin-bottom: 100px;
}

.button {
  position: fixed;
  bottom: 20px;
  left: 20px;

  z-index: 11;

  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  color: #d2d49b;
  border: none;
  padding: 14px 16px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;

  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 480px) {
  .button {
    bottom: 18px;
    left: 14px;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 8px;
  }

  .overlay {
    padding: 16px;
  }
}

.button:hover {
  opacity: 0.8;
}
