:root {
  --background: #6e7867;
  --foreground: #120404;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: x-large;
}

a {
  color: inherit;
  text-decoration: none;
}
